/SEP3_T1/Services/obj/
/SEP3_T1/DTOs/bin/
/SEP3_T1/DTOs/obj/
/SEP3_T1/HousePalClient/obj/
/SEP3_T1/HousePalClient/bin/
/SEP3_T2/DatabaseRepositories/obj/
/SEP3_T2/DatabaseRepositories/bin/
/SEP3_T2/DTOs/obj/
/SEP3_T2/DTOs/bin/
/SEP3_T2/RepositoryContracts/obj/
/SEP3_T2/RepositoryContracts/bin/
/SEP3_T2/RESTAPI/obj/
/SEP3_T2/RESTAPI/bin/
