/* _content/HousePalClient/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-frtza5uyjb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-frtza5uyjb] {
    flex: 1;
}

.sidebar[b-frtza5uyjb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-frtza5uyjb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-frtza5uyjb]  a, .top-row[b-frtza5uyjb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-frtza5uyjb]  a:hover, .top-row[b-frtza5uyjb]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-frtza5uyjb]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-frtza5uyjb] {
        justify-content: space-between;
    }

    .top-row[b-frtza5uyjb]  a, .top-row[b-frtza5uyjb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-frtza5uyjb] {
        flex-direction: row;
    }

    .sidebar[b-frtza5uyjb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-frtza5uyjb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-frtza5uyjb]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-frtza5uyjb], article[b-frtza5uyjb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-frtza5uyjb] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-frtza5uyjb] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/HousePalClient/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zcbnheqymx] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-zcbnheqymx] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-zcbnheqymx] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zcbnheqymx] {
    font-size: 1.1rem;
}

.bi[b-zcbnheqymx] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-zcbnheqymx] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-zcbnheqymx] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-zcbnheqymx] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-zcbnheqymx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zcbnheqymx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zcbnheqymx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zcbnheqymx]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-zcbnheqymx]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-zcbnheqymx]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-zcbnheqymx] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-zcbnheqymx] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zcbnheqymx] {
        display: none;
    }

    .nav-scrollable[b-zcbnheqymx] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/HousePalClient/Components/Pages/CreateHouseOwner.razor.rz.scp.css */
@font-face {
  font-family: 'LogoFont';
  src: url(    'http://localhost:[puerto]/fonts/logo-font.ttf'
  ) format('truetype');
  font-weight: normal;
  font-style: normal;
}


h2[b-ps5ea9okqk]
{
  font-size: 3em;
  color: #ff7e5f;
  font-family: 'LogoFont', sans-serif;
  align-self: center;
  margin-bottom: 0.5em;
}

label[b-ps5ea9okqk]
{
  color: #222222;
  font-family: Futura;
  margin-bottom: 0.1em;
}

.login-container[b-ps5ea9okqk] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  animation: rotateBackground-b-ps5ea9okqk 25s infinite; /* Apply animation to the main container */
  background-size: cover;
  background-position: center;
}

.login-box[b-ps5ea9okqk] {
  display: flex;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.85); /* Slightly transparent to see the background */
}

.login-fields[b-ps5ea9okqk] {
  font-family: Futura;
  color: #222222;
  width: 50%;
  padding: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-message[b-ps5ea9okqk] {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Coral/Orange Gradient */
  color: white;
  flex-direction: column;
}

.welcome-message h1[b-ps5ea9okqk] {
  font-size: 2rem;
  font-family: "Canela Text";
  margin: 0;
}

.welcome-image[b-ps5ea9okqk] {
  width: 250px; /* Adjust as needed */
  height: auto;
  /*margin-bottom: 1em;*/
}

.form-group[b-ps5ea9okqk] {
  margin-bottom: 1.5em;
}

.form-control[b-ps5ea9okqk] {
  font-size: 1rem;
  padding: 0.375em 0.75em;
}

.button-group[b-ps5ea9okqk] {
  display: flex;
  justify-content: center;
  gap: 1em; /* Space between buttons */
}

.btn[b-ps5ea9okqk] {
  font-size: 1rem;
  padding: 0.375em 0.75em;
}

@keyframes rotateBackground-b-ps5ea9okqk {
   0% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/1.jpg'); }
   25% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/2.jpg'); }
   50% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/3.jpg'); }
   75% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/4.jpg'); }
   100% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/1.jpg'); }
 }
/* _content/HousePalClient/Components/Pages/Login.razor.rz.scp.css */
@font-face {
  font-family: 'LogoFont';
  src: url(    'http://localhost:[puerto]/fonts/logo-font.ttf'
  ) format('truetype');
  font-weight: normal;
  font-style: normal;
}


h2[b-17iqmw81vz]
{
  font-size: 3em;
  color: #ff7e5f;
  font-family: 'LogoFont', sans-serif;
  align-self: center;
  margin-bottom: 0.5em;
}

label[b-17iqmw81vz]
{
  color: #222222;
  font-family: Futura;
  margin-bottom: 0.1em;
}

.login-container[b-17iqmw81vz] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  animation: rotateBackground-b-17iqmw81vz 25s infinite; /* Apply animation to the main container */
  background-size: cover;
  background-position: center;
}

.login-box[b-17iqmw81vz] {
  display: flex;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.85); /* Slightly transparent to see the background */
}

.login-fields[b-17iqmw81vz] {
  font-family: Futura;
  color: #222222;
  width: 50%;
  padding: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-message[b-17iqmw81vz] {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Coral/Orange Gradient */
  color: white;
  flex-direction: column;
}

.welcome-message h1[b-17iqmw81vz] {
  font-size: 2rem;
  font-family: "Canela Text";
  margin: 0;
}

.welcome-image[b-17iqmw81vz] {
  width: 250px; /* Adjust as needed */
  height: auto;
  /*margin-bottom: 1em;*/
}

.form-group[b-17iqmw81vz] {
  margin-bottom: 1.5em;
}

.form-control[b-17iqmw81vz] {
  font-size: 1rem;
  padding: 0.375em 0.75em;
}

.button-group[b-17iqmw81vz] {
  display: flex;
  justify-content: center;
  gap: 1em; /* Space between buttons */
}

.btn[b-17iqmw81vz] {
  font-size: 1rem;
  padding: 0.375em 0.75em;
}

@keyframes rotateBackground-b-17iqmw81vz {
   0% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/1.jpg'); }
   25% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/2.jpg'); }
   50% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/3.jpg'); }
   75% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/4.jpg'); }
   100% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/1.jpg'); }
 }
