@using DTOs
@using DTOs.HouseOwner
@using HousePalClient.Components.Layout
@using Microsoft.AspNetCore.Components
@using MediaTypeHeaderValue = System.Net.Http.Headers.MediaTypeHeaderValue
@using Services
@layout LoginLayout
@inject NavigationManager Navigation
@inject IHouseOwnerService HouseOwnerService
@inject ILogger<FileUploadTest> Logger
@inject HttpClient Http
@rendermode InteractiveServer
@page "/house-owner-signup"


<div class="page-container">
    <div class="signup-page-container">
        <h1>Create Your House Owner Account</h1>

        <form class="house-owner-form" @onsubmit="CreateOwner">
            <!-- Account Information Fields -->
            <div class="form-section">
                <h2>Account Information</h2>

                <label>Email:</label>
                <input type="email" class="form-control" placeholder="Enter your email" @bind="_email" required/>

                <label>Password:</label>
                <input type="password" class="form-control" placeholder="Create a password" @bind="_password" required/>

                <label>Confirm Password:</label>
                <input type="password" class="form-control" placeholder="Confirm your password" @bind="_confirmPassword" required/>
            </div>

            <!-- Personal Information Fields -->
            <div class="form-section">
                <h2>Personal Information</h2>
                
                <label>Name:</label>
                <input type="text" class="form-control" placeholder="Enter your name" @bind="_name" required/>

                <label>CPR Number:</label>
                <input type="text" class="form-control" placeholder="Enter your CPR number" @bind="_cpr" required/>

                <label>Phone Number:</label>
                <input type="tel" class="form-control" placeholder="Enter your phone number" @bind="_phone" required/>

                <label>Home Address:</label>
                <input type="text" class="form-control" placeholder="Enter your home address" @bind="_address" required/>
            </div>

            <!-- Introduction Section -->
            <div class="form-section">
                <h2>Introduce Yourself</h2>

                <label>Short Introduction:</label>
                <textarea class="form-control" rows="4" placeholder="Write a brief introduction" @bind="_biography" required></textarea>
                <label>Upload a Profile Picture:</label>
                <InputFile OnChange="OnInputProfilePictureChange" accept="image/*" class="form-control"/>

                @if (!string.IsNullOrEmpty(_profilePictureUrl))
                {
                    <hr/>
                    <p>Uploaded picture:</p>
                    <img src="https://localhost:7134/Filesave/@_profilePictureUrl.Split('.')[0]/@_profilePictureUrl.Split('.')[1]" alt="Uploaded picture"/>
                }

            </div>

            <!-- Display Message if exists -->
            @if (!string.IsNullOrEmpty(_message))
            {
                <div>
                    <label>@_message</label>
                </div>
            }

            <!-- Submit Button -->
            <button type="button" @onclick="CreateOwner" class="btn btn-primary">Create Account</button>
        </form>
    </div>
</div>
@if (_showSuccessMessage)
{
    <div class="modal-background">
        <div class="modal-content">
            <h2>Hello, @_name!</h2>
            <p>Your account has been created successfully.</p>
            <button @onclick="RedirectToLogin" class="btn btn-primary">Go to Login</button>
        </div>
    </div>
}

<style>

    @@font-face {
        font-family: 'LogoFont';
        src: url(    'http://localhost:[puerto]/fonts/logo-font.ttf'
        ) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'FuturaFont';
        src: url('fonts/futura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .page-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 22em;
        min-height: 100vh;
        min-width: 100vw;
        background: linear-gradient(150deg, #ff7e5f, #feb47b);

    }

    .signup-page-container {
        max-width: 800px;
        margin: 38em 0 3em 0;
        padding: 2em 2em;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .signup-page-container h1 {
        font-size: 3em;
        color: #ff7e5f;
        font-family: 'LogoFont', sans-serif;
        align-self: center;
        margin-bottom: 0.5em;
    }

    .form-section {
        margin-bottom: 2em;
        padding: 1em;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-section h2 {
        text-align: center;
        font-size: 2rem;
        color: #3d3d3d;
        font-family: 'FuturaFont', sans-serif;
        font-weight: bold;
        margin: 0;
    }

    .form-section label
    {
        color: #3d3d3d;
        font-family: 'FuturaFont', sans-serif;
        margin-bottom: 0.1em;
    }

    .btn {
        font-size: 1rem;
        padding: 0.375em 0.75em;
        font-family: 'FuturaFont', sans-serif;
    }

    .form-control {
        width: 100%;
        padding: 0.75em;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    input
    {
        font-family: 'FuturaFont', sans-serif;
    }

    textarea .form-control {
        resize: vertical;
        font-family: 'FuturaFont', sans-serif;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 0.75em;
        font-size: 1.2rem;
        background-color: #ff7e5f;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'FuturaFont', sans-serif;
    }

    .btn-primary:hover {
        background-color: #feb47b;
    }

    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
    }

    .modal-content {
        background-color: #fff;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }
    
</style>

@code {
    private string _email = string.Empty;
    private string _password = string.Empty;
    private string _confirmPassword = string.Empty;
    private string _name = string.Empty;
    private string _cpr = string.Empty;
    private string _phone = string.Empty;
    private string _address = string.Empty;
    private string _biography = string.Empty;
    private string _message = string.Empty;
    private string _profilePictureUrl = string.Empty;
    private bool _showSuccessMessage = false;
    
    private List<FileDto> _uploadResults = new();
    private int maxAllowedFiles = 3;

    private void RedirectToLogin()
    {
        Navigation.NavigateTo("/");
    }

    private async Task CreateOwner()
    {
        _message = string.Empty;

        if (_password != _confirmPassword)
        {
            _message = "Passwords do not match";
            return;
        }

        var createHouseOwnerDto = new CreateHouseOwnerDto
        {
            Name = _name,
            Email = _email,
            Password = _password,
            ProfilePicture = _profilePictureUrl,
            CPR = _cpr,
            Phone = _phone,
            Address = _address,
            Biography = _biography
        };

        try
        {
            HouseOwnerDto created = await HouseOwnerService.AddAsync(createHouseOwnerDto);
            _showSuccessMessage = true;
            _message = $"House Owner created successfully!";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _message = $"Error: {e.Message}";
        }
    }


    private async Task OnInputProfilePictureChange(InputFileChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(_profilePictureUrl))
            await Http.DeleteAsync($"/Filesave/{_profilePictureUrl.Split('.')[0]}/{_profilePictureUrl.Split('.')[1]}");

        long maxFileSize = long.MaxValue;
        var upload = false;

        using var content = new MultipartFormDataContent();

        var file = e.GetMultipleFiles(maxAllowedFiles).FirstOrDefault();
        if (_uploadResults.SingleOrDefault(
                f => f.FileName == file.Name) is null)
        {
            try
            {
                var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));

                fileContent.Headers.ContentType =
                    new MediaTypeHeaderValue(file.ContentType);

                content.Add(
                    content: fileContent,
                    name: "\"files\"",
                    fileName: file.Name);

                upload = true;
            }
            catch (Exception ex)
            {
                Logger.LogInformation(
                    $"{file.Name} not uploaded (Err: 6): {ex.Message}",
                    file.Name, ex.Message);

                _uploadResults.Add(
                    new()
                    {
                        FileName = file.Name,
                        ErrorCode = 6,
                        Uploaded = false
                    });
            }
        }

        if (upload)
        {
            var response = await Http.PostAsync("/Filesave", content);

            var newUploadResults = await response.Content
                .ReadFromJsonAsync<IList<FileDto>>();

            if (newUploadResults is not null)
            {
                _profilePictureUrl = newUploadResults.FirstOrDefault()!.StoredFileName!;
            }
        }
    }

}

}