@page "/edit-house-profile/{profileId}"
@using System.Net.Http.Headers
@using DTOs
@using DTOs.HouseProfile
@using HousePalClient.Components.Layout
@using HousePalClient.ServiceContracts
@using Microsoft.AspNetCore.Components
@using Services
@using Microsoft.AspNetCore.Mvc.Rendering
@layout MainLayout
@inject NavigationManager Navigation
@inject IHouseProfileService HouseProfileService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<EditHouseProfile> Logger
@inject HttpClient Http
@rendermode InteractiveServer

<CascadingAuthenticationState>
    <AuthorizeView>
    <div class="page-container">
    <div class="signup-page-container">
        <h1>Edit House Profile</h1>

        <form class="house-profile-form" @onsubmit="CreateProfile">
            <!-- House Profile Information Fields -->
            <div class="form-section">
                <h2>House Information</h2>

                <label>Title:</label>
                <input type="text" class="form-control" placeholder="Enter title" @bind="_title" required/>

                <label>Description:</label>
                <textarea class="form-control" rows="4" placeholder="Describe your house" @bind="_description" required></textarea>

                <label>City:</label>
                <input type="text" class="form-control" placeholder="Enter city" @bind="_city" required/>

                <label>Region:</label>
                <input type="text" class="form-control" placeholder="Enter region" @bind="_region" required/>

                <label>Address:</label>
                <input type="text" class="form-control" placeholder="Enter address" @bind="_address" required/>
            </div>

            <!-- Amenities, Chores, and Rules Section -->
            <div class="form-section">
                <h2>Details</h2>

                <h3>Amenities:</h3>
                @if (_amenities is not null)
                {
                    <ul>
                        @foreach (var amenity in _amenities)
                        {
                            <li>
                                <input type="checkbox" @bind="amenity.Selected"/>
                                <label>@amenity.Text</label>
                            </li>
                        }
                    </ul>
                }


                <h3>Chores:</h3>
                @if (_chores is not null)
                {
                    <ul>
                        @foreach (var chore in _chores)
                        {
                            <li>
                                <input type="checkbox" @bind="chore.Selected"/>
                                <label>@chore.Text</label>
                            </li>
                        }
                    </ul>
                }

                <h3>Rules:</h3>
                @if (_rules is not null)
                {
                    <ul>
                        @foreach (var rule in _rules)
                        {
                            <li>
                                <input type="checkbox" @bind="rule.Selected"/>
                                <label>@rule.Text</label>
                            </li>
                        }
                    </ul>
                }
            </div>

            <!-- Upload Pictures Section -->
            <div class="form-section">
                <h2>Upload Pictures</h2>

                <label>Upload At Least 3 Pictures:</label>
                <InputFile OnChange="OnInputFileChange" accept="image/*" class="form-control" multiple/>

                @if (_pictures.Count != 0)
                {
                    <hr/>
                    <p>Uploaded pictures:</p>
                    <div class="uploaded-images-container">
                        @foreach (var picture in _pictures)
                        {
                            <img src="https://localhost:7134/Filesave/@picture.Split('.')[0]/@picture.Split('.')[1]" alt="Uploaded picture"/>
                        }
                    </div>
                }
            </div>

            <!-- Display Message if exists -->
            @if (!string.IsNullOrEmpty(_message))
            {
                <div>
                    <label>@_message</label>
                </div>
            }

            <!-- Submit Button -->
            <button type="button" @onclick="CreateProfile" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
</AuthorizeView>

</CascadingAuthenticationState>

<style>

    @@font-face {
        font-family: 'LogoFont';
        src: url(    'http://localhost:[puerto]/fonts/logo-font.ttf'
        ) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'FuturaFont';
        src: url('fonts/futura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    input[type="file"]::-webkit-file-upload-button {
        color: white;
        background-color: #ff7e5f;
        border: none;
        border-radius: 5px;
        padding: 0.5em 1em;
        font-family: 'FuturaFont', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }

    input[type="file"]::-webkit-file-upload-button:hover {
        background-color: #feb47b;
    }
    
    .uploaded-images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }


    .uploaded-images-container img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    h3 {
        font-size: 1.5em;
        color: #3d3d3d;
        font-family: 'FuturaFont', sans-serif;
        margin: 0.45em 0 0 0.4em;
    }

    .page-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        background-color: white;
    }

    .signup-page-container {
        max-width: 50vw;
        margin: 3em 0 3em 0;
        padding: 2em 2em;
        background-color: #fff2ef;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .signup-page-container h1 {
        font-size: 3em;
        color: #ff7e5f;
        font-family: 'LogoFont', sans-serif;
        align-self: center;
        margin-bottom: 0.5em;
    }

    .form-section {
        margin-bottom: 2em;
        padding: 1em;
        border-radius: 10px;
        background-color: #ffe5df;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-section h2 {
        text-align: center;
        font-size: 1.8em;
        color: #3d3d3d;
        font-family: 'FuturaFont', sans-serif;
        font-weight: bold;
        margin-bottom: 0.3em;
    }

    .form-section label
    {
        color: #3d3d3d;
        font-family: 'FuturaFont', sans-serif;
        margin-bottom: 0.1em;
    }

    .btn {
        font-size: 1rem;
        padding: 0.375em 0.75em;
        font-family: 'FuturaFont', sans-serif !important;
    }

    .form-control {
        width: 100%;
        padding: 0.75em;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #fff2ef;

    }

    input
    {
        font-family: 'FuturaFont', sans-serif !important;
        background-color: #fff2ef;

    }

    textarea{
        resize: vertical;
        font-family: 'FuturaFont', sans-serif !important;
        background-color: #fff2ef;

    }
    
    

    .btn-primary {
        display: block;
        width: 100%;
        padding: 0.75em;
        font-size: 1.2rem;
        background-color: #ff7e5f;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'FuturaFont', sans-serif;
    }

    .btn-primary:hover {
        background-color: #feb47b;
    }

    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
    }

    .modal-content {
        background-color: #fff;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    
</style>

@if (_showSuccessMessage)
{
    <div class="modal-background">
        <div class="modal-content">
            <h2>Profile Updated!</h2>
            <p> Your house profile has been updated successfully.</p>
            <button @onclick="RedirectToHome" class="btn btn-primary">Go to Home</button>
        </div>
    </div>
}

@functions
{
    [Parameter] public string? profileId { get; set; }
}

@code {
    private string _title = string.Empty;
    private string _description = string.Empty;
    private string _city = string.Empty;
    private string _region = string.Empty;
    private string _address = string.Empty;
    private List<string> _pictures = [];
    private string _message = string.Empty;
    private bool _showSuccessMessage = false;
    private string _name = string.Empty;
    private int _houseOwnerId = 0;
    private MultiSelectList? _amenities = null;
    private MultiSelectList? _chores = null;
    private MultiSelectList? _rules = null;
    
    private List<FileDto> _uploadResults = new();
    private int maxAllowedFiles = 3;

    private void RedirectToHome()
    {
        Navigation.NavigateTo("/view-all-house-profiles");
    }

    private async Task CreateProfile()
    {
        _message = string.Empty;

        var updateProfile = new UpdateHouseProfileDto()
        {
            Id = int.Parse(profileId),
            Title = _title,
            Description = _description,
            City = _city,
            Region = _region,
            Address = _address,
            Pictures = _pictures
        };

        updateProfile.Chores = [];
        foreach (var chore in _chores!)
        {
            if (chore.Selected)
            {
                updateProfile.Chores.Add(chore.Text);
            }
        }

        updateProfile.Rules = [];
        foreach (var rule in _rules!)
        {
            if (rule.Selected)
            {
                updateProfile.Rules.Add(rule.Text);
            }
        }

        updateProfile.Amenities = [];
        foreach (var amenity in _amenities!)
        {
            if (amenity.Selected)
            {
                updateProfile.Amenities.Add(amenity.Text);
            }
        }

        try
        {
            await HouseProfileService.UpdateAsync(updateProfile);
            _showSuccessMessage = true;
            _message = "House Profile updated successfully!";
        }
        catch (Exception e)
        {
            _message = $"Error: {e.Message}";
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        foreach (var fileToDelete in _pictures)
        {
            await Http.DeleteAsync($"/Filesave/{fileToDelete.Split('.')[0]}/{fileToDelete.Split('.')[1]}");
        }
        
        _pictures = [];
        long maxFileSize = long.MaxValue;
        var upload = false;

        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            if (_uploadResults.SingleOrDefault(
                    f => f.FileName == file.Name) is null)
            {
                try
                {
                    var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));

                    fileContent.Headers.ContentType =
                        new MediaTypeHeaderValue(file.ContentType);

                    content.Add(
                        content: fileContent,
                        name: "\"files\"",
                        fileName: file.Name);

                    upload = true;
                }
                catch (Exception ex)
                {
                    Logger.LogInformation(
                        $"{file.Name} not uploaded (Err: 6): {ex.Message}",
                        file.Name, ex.Message);

                    _uploadResults.Add(
                        new()
                        {
                            FileName = file.Name,
                            ErrorCode = 6,
                            Uploaded = false
                        });
                }
            }
        }

        if (upload)
        {
            var response = await Http.PostAsync("/Filesave", content);

            var newUploadResults = await response.Content
                .ReadFromJsonAsync<IList<FileDto>>();

            if (newUploadResults is not null)
            {
                _uploadResults = _uploadResults.Concat(newUploadResults).ToList();
                _pictures.AddRange(newUploadResults.Select(p => p.StoredFileName!).ToList());
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _amenities = new MultiSelectList(HouseProfileService.GetAllAmenities());
        _chores = new MultiSelectList(HouseProfileService.GetAllChores());
        _rules = new MultiSelectList(HouseProfileService.GetAllRules());
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState?.User;

        if (user?.Identity != null && user.Identity.IsAuthenticated && profileId != null)
        {
            var profile = await HouseProfileService.GetSingleAsync(int.Parse(profileId), false, false);
            _houseOwnerId = profile.OwnerId;
            _title = profile.Title;
            _description = profile.Description;
            _city = profile.City;
            _region = profile.Region;
            _address = profile.Address;
            _pictures = profile.Pictures;
            
            foreach (var rule in _rules)
            {
                if (profile.Rules.Contains(rule.Text))
                {
                    rule.Selected = true;
                }
            }
            
            foreach (var chore in _chores)
            {
                if (profile.Chores.Contains(chore.Text))
                {
                    chore.Selected = true;
                }
            }
            
            foreach (var amenity in _amenities)
            {
                if (profile.Amenities.Contains(amenity.Text))
                {
                    amenity.Selected = true;
                }
            }
        }
        else
        {
            Console.WriteLine("User is NOT authenticated.");
        }
        
        await InvokeAsync(StateHasChanged);
    }
}