@page "/" 
@using HousePalClient.Auth
@using HousePalClient.Components.Layout
@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer
@layout LoginLayout
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider

        <div class="login-container">
            <div class="login-box">
                <div class="login-fields">
                    <h2>Welcome!</h2>
                    <EditForm Model="loginModel">
                        <DataAnnotationsValidator/>

                        <div class="form-group">
                            <label for="username" >Username</label>
                            <InputText id="username" @bind-Value="loginModel.Username" class="form-control" placeholder="Enter username"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <InputText id="password" @bind-Value="loginModel.Password" type="password" class="form-control" placeholder="Enter password"/>
                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-primary" @onclick="HandleLoginClick">Login</button>
                            <button type="button" class="btn btn-secondary" @onclick="HandleSignUpClick">Sign Up</button>
                        </div>

                    </EditForm>
                </div>
                <div class="welcome-message">
                    <img src="/images/logo.png" alt="Welcome Image" class="welcome-image" />
                </div>
            </div>
        </div>

@code {
private LoginModel loginModel = new();

private async void HandleLoginClick()
{
    try
    {
        await ((SimpleAuthProvider)AuthProvider).Login(loginModel.Username, loginModel.Password);
        Navigation.NavigateTo("/HouseOwnerPage");
    }
    catch (Exception e)
    {
        Console.WriteLine(e);
    }
}

private void HandleSignUpClick()
{
    Console.WriteLine("Sign Up button clicked");
    Navigation.NavigateTo("/signup");
}

private class LoginModel
{
    public string Username { get; set; }
    public string Password { get; set; }
}
}