@page "/view-my-applications"
@using System.Security.Claims
@using DTOs.Application
@using DTOs.HouseListing
@using HousePalClient.Components.Layout
@using HousePalClient.ServiceContracts
@using Microsoft.AspNetCore.Components
@using Services
@layout MainLayout
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject IApplicationService ApplicationService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page-container">
    <div class="signup-page-container">
        <h1>My Listings</h1>

        @if (_applications == null || !_applications.Any())
        {
            <p>No applications found.</p>
        }
        else
        {
            <div class="house-profile-list">
                @foreach (var application in _applications)
                {
                        <div class="house-profile-item">
                            @if (application.Listing!.Profile!.Pictures != null && application.Listing.Profile.Pictures.Any())
                            {
                                <img src="https://localhost:7134/Filesave/@application.Listing.Profile.Pictures[0].Split('.')[0]/@application.Listing.Profile.Pictures[0].Split('.')[1]" alt="House Picture" class="house-profile-img"/>
                            }
                            <p>@application.Listing.Profile.Title</p>
                            <p>@application.Listing.StartDate.ToString("dd/M/yyyy") - @application.Listing.EndDate.ToString("dd/M/yyyy")</p>
                            <p>@application.Status</p>
                            <button type="button" class="btn btn-primary" @onclick="() => NavigateToDetails(application.ListingId)">More Details</button>
                        </div>
                    
                }
                <div class="house-profile-item">
                    <div @onclick="NavigateToCreate" class="plus"><i class="fa-solid fa-plus fa-2xl"></i></div>
                </div>
            </div>
        }
    </div>
</div>

<style>

    @@font-face {
        font-family: 'LogoFont';
        src: url('http://localhost:[puerto]/fonts/logo-font.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'FuturaFont';
        src: url('fonts/futura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    h1 {
        text-align: center;
        color: #ff7e5f;
        margin-bottom: 1em;
        font-family: 'LogoFont', sans-serif;
    }

    .btn {
        font-size: 0.85em;
        padding: 0.375em 0.75em;
        font-family: 'FuturaFont', sans-serif;
    }

    .house-profile-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
    }

    .house-profile-item {
        width: 15em;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 0 0 1em 0;
        font-family: 'FuturaFont', sans-serif;
    }

    .house-profile-item div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
    }

    .house-profile-img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    p {
        font-family: 'FuturaFont', sans-serif;
        color: #3d3d3d;
        margin: 1em;
    }

    .plus {
        cursor: pointer;
    }
</style>

@code {
    [Inject] private PreloadService PreloadService { get; set; } = default!;
    private List<ApplicationDto>? _applications;
    private int _userId;

    protected override async Task OnInitializedAsync()
    {
        PreloadService.Show();
        _applications = new List<ApplicationDto>();
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            Console.WriteLine("Not authenticated");
            return;
        }
        
        IEnumerable<Claim> claims = user.Claims;
        string userIdAsString = claims.Single(c => c.Type == "Id").Value;
        _userId = int.Parse(userIdAsString);
        
        await LoadAllHouseListings();
        await InvokeAsync(StateHasChanged);
        PreloadService.Hide();
    }

    private async Task LoadAllHouseListings()
    {
        _applications!.AddRange(await Task.Run(() => ApplicationService.GetApplicationsByUserStatus(_userId, "Pending", true, true).ToList()));
        _applications!.AddRange(await Task.Run(() => ApplicationService.GetApplicationsByUserStatus(_userId, "Approved", true, true).ToList()));
        _applications!.AddRange(await Task.Run(() => ApplicationService.GetApplicationsByUserStatus(_userId, "Rejected", true, true).ToList()));
    }

    private void NavigateToDetails(int listingId)
    {
        Navigation.NavigateTo($"/view-house-listing/{listingId}");
    }
    
    private void NavigateToCreate()
    {
        Navigation.NavigateTo("/create-house-listing");
    }

}