@using System.Net.Http.Headers
@using DTOs
@using DTOs.HouseSitter
@using HousePalClient.Components.Layout
@using HousePalClient.Components.Pages.HouseOwner
@using HousePalClient.ServiceContracts
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@layout MainLayout
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject ILogger<EditHouseProfile> Logger
@inject IHouseSitterService HouseSitterService
@rendermode InteractiveServer
@page "/edit-account-sitter"


<CascadingAuthenticationState>
    <AuthorizeView Roles="HouseSitter">
        <Authorized>
            <div class="page-container">
                <div class="signup-page-container">
                    <h1>Update Your Account</h1>

                    <form class="house-sitter-form" @onsubmit="EditSitter">
                        <!-- Personal Information Fields -->
                        <div class="form-section">
                            <h2>Personal Information</h2>

                            <label>Name:</label>
                            <input type="text" class="form-control" placeholder="Enter your name" @bind="_name" required/>

                            <label>CPR Number:</label>
                            <input type="text" class="form-control" placeholder="Enter your CPR number" @bind="_cpr" required/>

                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" placeholder="Enter your phone number" @bind="_phone" required/>
                        </div>

                        <!-- Introduction Section -->
                        <div class="form-section">
                            <h2>Introduce Yourself</h2>

                            <label>Short Introduction:</label>
                            <textarea class="form-control" rows="4" placeholder="Write a brief introduction" @bind="_biography" required></textarea>

                            <label>Relevant experiences:</label>
                            <textarea class="form-control" rows="4" placeholder="Write a short summary of your past, relevant experiences" @bind="_experiences" required></textarea>

                            <label>Upload a Profile Picture:</label>
                            <InputFile OnChange="OnInputProfilePictureChange" accept="image/*" class="form-control" multiple/>

                            @if (!string.IsNullOrEmpty(_profilePictureUrl))
                            {
                                <hr/>
                                <p>Uploaded picture:</p>
                                <img class="profile-picture" src="https://localhost:7134/Filesave/@_profilePictureUrl.Split('.')[0]/@_profilePictureUrl.Split('.')[1]" alt="Uploaded picture"/>
                                <hr/>
                            }


                            <label>Upload At Least 3 Pictures:</label>
                            <InputFile OnChange="OnInputFileChange" accept="image/*" class="form-control" multiple/>

                            @if (_pictures.Count != 0)
                            {
                                <hr/>
                                <p>Uploaded pictures:</p>
                                <div class="uploaded-images-container">
                                    @foreach (var picture in _pictures)
                                    {
                                        <img src="https://localhost:7134/Filesave/@picture.Split('.')[0]/@picture.Split('.')[1]" alt="Uploaded picture"/>
                                    }
                                </div>
                            }


                        </div>

                        <div class="form-section">
                            <h2>Skills</h2>

                            <ul>
                                @foreach (var item in _skills)
                                {
                                    <li>
                                        <input type="checkbox" @bind="item.Selected"/> @* @onclick="(()=>handleClick(item))" *@
                                        <label>@item.Text</label>
                                    </li>
                                }
                            </ul>


                        </div>

                        <!-- Display Message if exists -->
                        @if (!string.IsNullOrEmpty(_message))
                        {
                            <div class="alert alert-danger">@_message</div>
                        }

                        <!-- Submit Button -->
                        <button type="button" @onclick="EditSitter" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>

            @if (_showSuccessMessage)
            {
                <div class="modal-background">
                    <div class="modal-content">
                        <h2>Hello, @_name!</h2>
                        <p>Your account has been updated successfully.</p>
                        <button @onclick="RedirectToHome" class="btn btn-primary">Go to Home</button>
                    </div>
                </div>
            }
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <div class="not-authorized-container">
                <h2>You must be logged in to view this page.</h2>
                <p>Please log in.</p>
                <button class="btn btn-primary" @onclick="NavigateToLogin">Log In</button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<style>
    
    @@font-face {
        font-family: 'LogoFont';
        src: url(    'http://localhost:[puerto]/fonts/logo-font.ttf'
        ) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'FuturaFont';
        src: url('fonts/futura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    input[type="file"]::-webkit-file-upload-button {
        color: white;
        background-color: #ff7e5f;
        border: none;
        border-radius: 5px;
        padding: 0.5em 1em;
        font-family: 'FuturaFont', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }

    input[type="file"]::-webkit-file-upload-button:hover {
        background-color: #feb47b;
    }
    h2
    {
        font-size: 3em;
        color: #ff7e5f;
        font-family: 'LogoFont', sans-serif;
        align-self: center;
        margin-bottom: 0.5em;
    }

    label
    {
        color: #222222;
        font-family: 'FuturaFont', sans-serif;
        margin-bottom: 0.1em;
    }

    ul {
        list-style: none;
    }

    .welcome-message h1 {
        font-size: 2rem;
        font-family: 'FuturaFont', sans-serif;
        margin: 0;
    }

    .form-control {
        font-size: 1rem;
        padding: 0.375em 0.75em;
        background-color: #fff2ef;
    }

    .btn {
        font-size: 1rem;
        padding: 0.375em 0.75em;
    }


    @@keyframes rotateBackground {
        0% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/1.jpg'); }
        25% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/2.jpg'); }
        50% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/3.jpg'); }
        75% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/4.jpg'); }
        100% { background-image: url('http://localhost:[puerto]/images/loginBackgrounds/1.jpg'); }
    }

    @@font-face {
        font-family: 'LogoFont';
        src: url('http://localhost:[puerto]/fonts/logo-font.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .page-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        background-color: white;
    }

    .signup-page-container {
        max-width: 50vw;
        margin: 3em 0 3em 0;
        padding: 2em 2em;
        background-color: #fff2ef;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #ff7e5f;
        margin-bottom: 1em;
        font-family: 'LogoFont', sans-serif;
    }

    h2 {
        text-align: center;
        color: #3d3d3d;
        font-family: 'FuturaFont', sans-serif;
        font-size: 1.7rem;
    }

    .form-section {
        margin-bottom: 2em;
        padding: 1em;
        border-radius: 10px;
        background-color: #ffe5df;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        width: 100%;
        padding: 0.75em;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }
    .uploaded-images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        background-color: #fff2ef;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }

    .uploaded-images-container img {
        width: 100px; 
        height: 100px; 
        object-fit: cover;
        border-radius: 5px; 
    }

    input
    {
        font-family: 'FuturaFont', sans-serif;
        background-color: #fff2ef;
    }

    label
    {
        font-family: 'FuturaFont', sans-serif;
        color: #3d3d3d;
    }

    textarea.form-control {
        resize: vertical;
        font-family: 'FuturaFont', sans-serif;
        background-color: #fff2ef;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 0.75em;
        font-size: 1.2rem;
        background-color: #ff7e5f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'FuturaFont', sans-serif;
    }

    .btn-primary:hover {
        background-color: #feb47b;
    }
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
    }

    .modal-content {
        background-color: #fff;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }
    .not-authorized-container {
        text-align: center;
        margin-top: 5em;
        padding: 2em;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .not-authorized-container h2 {
        color: #ff7e5f;
        font-family: 'LogoFont', sans-serif;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .not-authorized-container p {
        font-family: 'FuturaFont', sans-serif;
        color: #333;
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .not-authorized-container .btn {
        font-size: 1em;
        padding: 0.75em 1.5em;
        font-family: 'FuturaFont', sans-serif;
        background-color: #ff7e5f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    .not-authorized-container .btn:hover {
        background-color: #feb47b;
    }

    .alert {
        padding: 1em;
        margin-bottom: 1em;
        border: 1px solid transparent;
        border-radius: 0.375em;
        font-family: 'FuturaFont', sans-serif;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>

@code {
    private HouseSitterDto houseSitterProfile;
    private int _userId;

    private string _name = string.Empty;
    private string _cpr = string.Empty;
    private string _phone = string.Empty;

    private string _biography = string.Empty;
    private string _experiences = string.Empty;

    private string _message = string.Empty;
    private string _profilePictureUrl = string.Empty;
    private bool _showSuccessMessage = false;

    MultiSelectList? _skills;
    List<string> _pictures = [];

    private List<FileDto> _uploadResults = new();
    private int maxAllowedFiles = 25;

    private void RedirectToHome()
    {
        Navigation.NavigateTo("/view-all-house-profiles");
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private async Task EditSitter()
    {
        _message = string.Empty;

        var updateHouseSitterDto = new UpdateHouseSitterDto()
        {
            UserId = _userId,
            Name = _name,
            Email = houseSitterProfile.Email,
            Password = houseSitterProfile.Password,
            ProfilePicture = _profilePictureUrl,
            CPR = _cpr,
            Phone = _phone,
            Experience = _experiences,
            Biography = _biography,
            Pictures = _pictures
        };

        updateHouseSitterDto.Skills = [];
        foreach (var skill in _skills)
        {
            if (skill.Selected)
            {
                updateHouseSitterDto.Skills.Add(skill.Text);
            }
        }

        try
        {
            await HouseSitterService.UpdateAsync(updateHouseSitterDto);
            _showSuccessMessage = true;
        }
        catch (Exception e)
        {
            var message = e.Message.Split('"')[4];
            _message = message.Remove(message.Length-1);
        }
    }

    private async Task OnInputProfilePictureChange(InputFileChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(_profilePictureUrl))
            await Http.DeleteAsync($"/Filesave/{_profilePictureUrl.Split('.')[0]}/{_profilePictureUrl.Split('.')[1]}");

        _uploadResults = new();
        long maxFileSize = long.MaxValue;
        var upload = false;

        using var content = new MultipartFormDataContent();

        var file = e.GetMultipleFiles(maxAllowedFiles).FirstOrDefault();
        if (_uploadResults.SingleOrDefault(
                f => f.FileName == file.Name) is null)
        {
            try
            {
                var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));

                fileContent.Headers.ContentType =
                    new MediaTypeHeaderValue(file.ContentType);

                content.Add(
                    content: fileContent,
                    name: "\"files\"",
                    fileName: file.Name);

                upload = true;
            }
            catch (Exception ex)
            {
                Logger.LogInformation(
                    $"{file.Name} not uploaded (Err: 6): {ex.Message}",
                    file.Name, ex.Message);

                _uploadResults.Add(
                    new()
                    {
                        FileName = file.Name,
                        ErrorCode = 6,
                        Uploaded = false
                    });
            }
        }

        if (upload)
        {
            var response = await Http.PostAsync("/Filesave", content);

            var newUploadResults = await response.Content
                .ReadFromJsonAsync<IList<FileDto>>();

            if (newUploadResults is not null)
            {
                _profilePictureUrl = newUploadResults.FirstOrDefault()!.StoredFileName!;
            }
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        foreach (var fileToDelete in _pictures)
        {
            if (!string.IsNullOrEmpty(fileToDelete))
            {
                await Http.DeleteAsync($"/Filesave/{fileToDelete.Split('.')[0]}/{fileToDelete.Split('.')[1]}");
            }
        }

        _pictures = [];
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            using var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(file.OpenReadStream(1024 * 1024 * 10)); // 10MB max per file
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            content.Add(fileContent, "files", file.Name);

            var response = await Http.PostAsync("/Filesave", content);
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<IList<FileDto>>();
                _pictures.AddRange(result.Select(p => p.StoredFileName!).ToList());
            }
            else
            {
                Logger.LogError($"Failed to upload {file.Name}: {response.StatusCode}");
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _skills = new MultiSelectList(HouseSitterService.GetAllSkills());
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState?.User;

        if (user?.Identity != null && user.Identity.IsAuthenticated)
        {
            if (user.IsInRole("HouseSitter"))
            {
                var sitterIdClaim = user.FindFirst("Id")?.Value;
                if (sitterIdClaim != null && int.TryParse(sitterIdClaim, out var sitterId))
                {
                    houseSitterProfile = await HouseSitterService.GetSingleAsync(sitterId);
                    _profilePictureUrl = houseSitterProfile.ProfilePicture!;
                    _cpr = houseSitterProfile.CPR!;
                    _phone = houseSitterProfile.Phone!;
                    _name = houseSitterProfile.Name!;
                    _experiences = houseSitterProfile.Experience!;
                    _biography = houseSitterProfile.Biography!;
                    _pictures = houseSitterProfile.Pictures!;

                    foreach (var skill in _skills)
                    {
                        if (houseSitterProfile.Skills!.Contains(skill.Text))
                        {
                            skill.Selected = true;
                        }
                    }

                    _userId = sitterId;
                }
            }
        }
        else
        {
            Console.WriteLine("User is NOT authenticated.");
        }
    }

}